<!-- templates/admin_sql.html -->
{% extends "base.html" %}
{% block title %}Выходные документы{% endblock %}
{% block content %}
<div class="main" style="justify-content:unset;">
  <h3>Выходные документы</h3>
  {% for docx in docxs %}
  <div>
    <div type="text">
      <b style="text-align: left; width: 100%;">{{ docx }}</b>
    </div>
    <a href="{{ url_for('docx', docx=docx) }}" style="margin: 0;">
      <img src="/static/Image/load.png" width="50px">
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}