<!-- templates/admin_sql.html -->
{% extends "base.html" %}
{% block title %}Процедуры{% endblock %}
{% block content %}
<div class="main" style="justify-content:unset;">
  <h2>Процедуры</h2>
  <div>
    {% for procedure in procedurs %}
    <div style="width: 40%;">
      <form action="/library/procedure/{{ procedure[0] }}" method="POST">
        <h3> {{ procedure[0] }} </h3>
        {% for item in procedure[1] %}
        <input name="{{ item }}" placeholder='{{ item }}'>
        {% endfor %}
        <button> Выполнить </button>
      </form>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}