<!-- templates/admin_sql.html -->
{% extends "base.html" %}

{% block title %}SQL запрос{% endblock %}

{% block content %}

<style>
  .block1 {
    padding: 20px;
  }
  .block2 {
    padding-top: 20px;
  }
  textarea {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    width: 100%;
    padding: 20px;
    line-height: 1.5;
    display: block;
    border-radius: 25px;
    border: none;
    color: #796057;
  }
  textarea::placeholder {
    font-weight: bold;
    color: #796057;
    opacity: 50%;
}
p {
  padding: 10px;
}
</style>

  <body>
    <div class="block1">

      <div style="height: 10px; padding-top: 10px; padding-bottom: 50px;">
        <h3>Выполнение SQL запроса</h3>
      </div>

      <form action="{{ url_for('sql') }}" method="post">
        <div class="block2">
          <textarea name="query" oninput="this.style.height = 'auto'; this.style.height = this.scrollHeight + 'px';" placeholder="Напишите запрос сюда…"></textarea>
        </div>
        <div class="block2">
          <input type="submit" value="Execute Query" style="background: #F26A6C; color:#fff;">
        </div>
      </form>
      <div class="block2">
        {% if data %}
          <h3>ВЫВОД</h3>
          <table>
            {% for row in data %}
              <tr>
                {% for value in row %}
                  <td>{{ value }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </table>
        {% elif error %}
        <p class="error">{{ error }}</p>
        {% endif %}
      </div>

    </div>
  </body>
</html>
{% endblock %}