<!-- templates/admin_sql.html -->
{% extends "base.html" %}
{% block title %}SQL запрос{% endblock %}
{% block content %}
<div class="main" style="justify-content:unset;">
  <h3>Выполнение SQL запроса</h3>
  <form action="{{ url_for('sql') }}" method="POST">
    <div>
      <textarea name="query" oninput="this.style.height = 'auto'; this.style.height = this.scrollHeight +'px';" placeholder="Напишите запрос сюда…"></textarea>
    </div>
    <div>
      <button> Выполнить запрос </button>
    </div>
  </form>
  <div>
    {% if data %}
      <h3>вывод</h3>
      <table>
        {% for row in data %}
          <tr>
            {% for value in row %}
              <td>{{ value }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    {% elif error %}
    <p>{{ error }}</p>
    {% endif %}
  </div>
</div>
{% endblock %}