<!-- templates/admin_sql.html -->
{% extends "base.html" %}
{% block title %}SQL запрос{% endblock %}
{% block content %}
<div class="main" style="justify-content:unset;">
  <h2>Выполнение SQL запроса</h2>
  <form action="{{ url_for('sql') }}" method="POST">
    <div>
      <textarea name="query" oninput="this.style.height = 'auto'; this.style.height = this.scrollHeight +'px';" placeholder="Напишите запрос сюда…"></textarea>
    </div>
    <div>
      <button> Выполнить запрос </button>
    </div>
  </form>
  {% if data %}
    <h3>вывод</h3>
    <table>
        <thead>
            <tr>
                {% for column in data[1] %}
                <th> {{ column }} </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data[0] %}
            <tr>
                {% for value in row %}
                <td> {{value}} </td>
                {% endfor %}            
            </tr>
            {% endfor %}
        </tbody>
    </table>
  {% endif %}
</div>
{% endblock %}