<!-- templates/dynamic_table.html -->
{% extends "base.html" %}
{% block title %} Просмотр записей {% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            {% for column in session.get('columns') %}
            <th>{{column}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <form action="/library/{{table}}/append" method="POST">
                {% for column in columns %}
                <td><input name={{column}} placeholder={{column}} autocomplete="off"></td>
                {% endfor %}
                <td>
                    <button>
                        <img src="/static/Image/append.png" width="auto" height="25px" alt="append">
                    </button>
                </td>
            </form>
        </tr>
        {% for i in range(0, data|length) %}
        <tr data-row-id="{{ data[i][0] }}">
            {% for j in range(0, data[i]|length) %}
            <td data-row-id="{{ j }}">  
                <form onsubmit = "confirmUpdate(this); return false">
                    <input id="input1" name="input" value="{{data[i][j]}}">
                </form>
            </td>
            {% endfor %}     
            <td>
                <a href="#" onclick="confirmDelete(this)">
                    <img src="/static/Image/trash.png" width="auto" height="25px" alt="trash">
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function confirmDelete(element) {
        if (confirm("Хотите удалить запись?")) {
            let rowId = element.parentNode.parentNode.dataset.rowId;
            deleteRow(rowId, element);
        }
    }

    function deleteRow(rowId, element) {
        fetch(`/library/${rowId}`, {
            method: 'DELETE',
        })
        .then(response => {
            if (response.ok) {
                element.parentNode.parentNode.remove(); 
            } else {
                alert("Ошибка удаления.");
            }
        })
        .catch(error => {
            console.error('Ошибка:', error);
        });
    }


    function confirmUpdate(element) {
        if (confirm("Хотите изменить запись?")) {
            var id = element.parentNode.parentNode.dataset.rowId;
            var column = element.parentNode.dataset.rowId;
            var value = element.input1.value;
            updataRow(id, column, value);
        }
    }

    var inputField;
    var oldValue;
    input1.onfocus = function() {
        inputField = this
        oldValue = inputField.value;
    };

    function updataRow(rowId, column, value) {
        fetch(`/library/${rowId}|${column}|${value}`, {
            method: 'POST',
        })
        .then(response => {
            return response.text();
        })
        .then(data => {
            alert(data);
         })
        .catch(error => {
            console.error('Catch:', error);
        });
    }
</script>
{% endblock %}