<!-- templates/library.html -->
{% extends "base.html" %}
{% block title %} library {% endblock %}
{% block content %}
{% if error %}
<p> {{ error }} </p>
{% else %}
<div class='main'>
    <h2> библиотека </h2>
    {% if session.get('role') == 'admin' %}
    <h3> инструменты </h3>
    <hr style="width: 240px;"></hr>
    <div>
        <div>
            <a href="{{ url_for('sql') }}">
                <img src="static/Image/SQLButton.png" width="110px">
            </a>
        </div>
        <div>
            <a href="{{ url_for('sql') }}">
                <img src="static/Image/DocButton.png"  width="110px">
            </a>
        </div>
    </div>
    {% endif %}
    <h3> таблицы для просмотра </h3>
    <hr style="width: 600px;"></hr>
    <div>
        {% for table in tables %}
        <div style="display: grid;">
            <a href="{{ url_for('library_view', table=table) }}">
                <img src="static/Image/TableButton.png" width="110px">
            </a>
            <h4> {{table}} </h4>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}