<!-- templates/library.html -->
{% extends "base.html" %}
{% block title %} library {% endblock %}
{% block content %}
<div class='main'>
    <h2> библиотека </h2>
    <div class="quote" name="quote" style="display: grid;">
        <blockquote id="quote">{{quote}}</blockquote>
        <cite id="author">{{ author }}</cite>
    </div>
    {% if tools %}
    <h3> инструменты </h3>
    <hr style="width: 500px;"></hr>
    <div>
        {% for tool in tools %}
        <div>
            <a href="{{ url_for(tool) }}">
                <img src="static/Image/{{tool}}.png" width="110px">
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <h3> таблицы для просмотра </h3>
    <hr style="width: 500px;"></hr>
    <div>
        {% for table in tables %}
        <div style="display: grid;">
            <a href="{{ url_for('library_view', table=table) }}">
                <img src="static/Image/TableButton.png" width="110px">
            </a>
            <h4> {{table}} </h4>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}