<!-- templates/login.html -->
{% extends "base.html" %}
{% block title %} Вход {% endblock %}
{% block content %}
<style>
    body {
        background-image: url('static/Image/login.png');
        background-repeat: no-repeat;
        background-size: 100%, 100%;
    }
</style>
<div style="float: right; width: 50%; height: 100%;">
    <div class="main">
        <h1>Библиотека</h1>
        <form method="POST">
            <div>
                <input name="username" required placeholder="имя">
            </div>
            <div>
                <input name="password" type="password" placeholder="пароль">
            </div>
            <div>
                <button>Войти</button>
            </div>
            {% if error %}
            <p> {{ error }} </p>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}